[submodule "Submodules/glfw"]
	path = Submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Submodules/glm"]
	path = Submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "Submodules/glslang"]
	path = Submodules/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Submodules/stb"]
	path = Submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "Submodules/Vulkan-Headers"]
	path = Submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Submodules/Vulkan-Loader"]
	path = Submodules/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
